.new-password-page {
  background-color: #181818;
  color: #fff;
}

h4 {
  color: var(--facebook-blue);
  font-weight: bold;
}

.card {
  background-color: var(--card-bg);
  border: 1px solid #505050;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 10% 0 10%;
}

.input-field {
  border: 1px solid #505050;
  border-radius: 5px;
  padding: 12px;
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #505050;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--facebook-blue);
  border: none;
  font-weight: bold;
  width: 100%;
}
