<div class="forgot-password-page">
  <div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-8 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h4 class="text-start mb-4">Forgot Password</h4>
            <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="text" class="form-control input-field" formControlName="username"
                  placeholder="Enter Username" />
                <span id="usernameError" class="text-danger"
                  *ngIf="forgotPasswordForm.controls['username'].dirty && forgotPasswordForm.controls['username'].invalid">
                  Only lowercase, numbers and underscores allowed in username
                </span>
                <!-- <span id="usernameError" class="text-danger"
                  *ngIf="forgotPasswordForm.controls['username'].dirty ">
                  Only lowercase, numbers and underscores allowed in userame
                </span> -->
              </div>
              <div class="form-group my-3">
                <input type="email" class="form-control input-field" formControlName="email" placeholder="Enter Email" />
                <span id="emailError" class="text-danger"
                  *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].invalid">
                  Enter valid email
                </span>
              </div>
              <button class="btn btn-primary btn-block btn-lg"
                [disabled]="forgotPasswordForm.pristine || forgotPasswordForm.invalid" type="submit">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="toast-sticky-message" class="position-fixed bottom-0 start-50 translate-middle-x my-4">
  <div class="toast text-center" [style.background-color]="'red'" [style.color]="'whitesmoke'">
    <div class="toast-body">
      <span id="toast-content"></span>
    </div>
  </div>
</div>